@model IVR_C19SchedulesMVCWebApplication4.Models.ClientDevice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClientDevice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceList)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceList)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientDeviceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
